*{
    margin: 0,5%;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(0, 0, 0);
}
/*Header todas las paginas*/
h1{
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(70, 70, 70);
    height: 75px;
    padding: 1%;
    position:sticky;
    top: 0;
    color: white;
    border: 2px solid rgb(109, 109, 109);
}
.inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header{
    display: flex;
    flex-direction: row;
    
}
.inicio a{
    width: 15%;
    height: auto;
    padding: 0;
}
.inicio a:hover{
    background-color: rgb(122, 122, 122);
    border-radius: 100px;
    transition: 1s;
    border:5px solid white ;
}

header img{
    width: 100%;
}
header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1%;
}
.content a{
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 5px;
}
.content a:hover{
    color: rgb(255, 255, 255);
    padding: 2%;
    border: 5px solid white;
    transition:1s;
    background-color: rgb(122, 122, 122);
}
.content a{
    border-right: solid 1px black;
    margin: 1%;
    flex-direction: row;
}
.content{
    width: 40%;
}
/*Cuerpo html Sobre mi*/
.cuerpo{
    padding: 1%;
    background-color:rgb(160, 160, 160);
    margin-top: 1%;
    border: 1px solid black;
}
.C1{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    background-color: rgb(233, 232, 232);
    border:2px solid black;
}
.cont1 p, .cont3, .cont4{
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 2% ;
}
.cont4{
    display: flex;
    justify-content: space-between;
}
.hi1{
    width: 40%;
}
.hi2{
    width: 50%;
}
.hi1 img{
    width: 120%;
    height: 200px;
    border: 10px rgb(122, 122, 122);
    border-style:groove ;

}
.row{
    display: flex;
  justify-content: space-around;
}
.cont2{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}
.hijo1, .hijo2, .hijo3{
    width: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid black;
}

h2, h3{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 2%;
}
/*Cuerpo html Experiencias*/
.cont3 h4{
    margin-left: 3%;
}
.cont3 p:not(:first-of-type){
    margin-left: 5%;
}
/*Cuerpo hobbies*/
.cont2>div img{
    margin: 1%;
    width: 95%;
    border: 5px solid rgb(105, 105, 105);
    border-radius: 10px;

}
.cont2>div{
    width: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid black;
    margin:1%;
}
.cont2{
    display: flex;
    flex-wrap: wrap;

}
.cont4ho>div img{
    margin: 1%;
    width: 95%;
    border: 5px solid rgb(105, 105, 105);
    border-radius: 10px;
}
.cont4ho>div{
    width: 27%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid black;
    margin:1%;
}
.cont4ho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.cont4ho p{
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 2% ;
}
/*Cuerpo contacto*/
.cont1con{
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    padding: 2%;
    margin: 1%;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.cont1con p{
    width: 75%;
}
.form{
    background-color: gray;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
    text-align: center;
    border-radius: 10px;
    border: 3px solid black;
}
.form input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2%;
    border-radius: 10px;
    height: 30px;
}
.contact p{
    display: inline;
}
.contact h4{
    margin-left:50px;
    margin:  0 0 0 50px ;
}
textarea{
    height: 150px;
}
button{
    padding: 2%;
    width: 30%;
    border: 3px solid black;
    border-radius: 20px;
    color: white;
    background-color: rgb(58, 58, 58);
    font-size: larger;
}
button:hover{
    transition: 1s;
    background-color: cornsilk;
    color: black;
}
/*Footer*/
footer{
    
    background-color:rgb(70, 70, 70);
    height: 50px;
    padding: 1%;
    border: 2px solid rgb(109, 109, 109);
}
footer p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
